@import url('variables.css');
@import url('typography.css');

* {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

body {
	background-color: var(--background-initial);
	color: var(--text-initial);
}

header {
	background-color: var(--primary);
	padding: 0 24px;
	margin-bottom: 72px;
	text-align: center;
}
header > img {
	transform: translate(0, 52px);
}

#main-logo {
	height: 96px;
	width: 96px;
	border-radius: 24px;
	outline: 8px solid var(--background-initial);
}

.content {
	padding: 0 24px;
}

footer {
	padding: 24px;
	background-color: var(--background-lighter);
}

/* ********************* */

a {
	text-decoration: none;
	color: var(--primary);
	font-weight: 500;
}
img {
	border-radius: 4px;
	max-width: 100%;
	max-height: 100%;
}

.btn {
	background-color: white;
	padding: 8px 16px;
	border-radius: 4px;
	border: none;
}

.btn > a {
	color: var(--primary);
     /*	transform: translate(0, 2px); */
	vertical-align: middle;
}

.btn img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.btn-primary {
	background-color: var(--primary);
}
.btn-primary > a {
	color: white;
}

.icon {
	height: 20px;
	width: 20px;
}
.emote {
	height: 16px;
	width: 16px;
	transform: translate(0, 2px);
}

.section {
	background-color: var(--background-lighter);
	padding: 24px;
	margin: 24px 0;
	border-radius: 12px;
}
.box {
	background-color: var(--background-lighter);
	padding: 24px;
	border-radius: 12px;
}
.flex {
	display: flex;
	gap: 24px;
}

#happex {
	width: 256px;
}

@media (max-width: 480px) {
	.flex {
		display: inherit;
		gap: 0;
	}
}
