@import url('variables.css');

* {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

body {
	background-color: var(--background-initial);
	color: var(--text-initial);
}

header {
	background-color: var(--primary);
	padding: 0 24px;
}
header > img {
	transform: translate(0, 24px);
}

#main-logo {
	height: 96px;
	width: 96px;
	border-radius: 19.2px;
	outline: 8px solid var(--background-initial);
}
